//Light Theme colours

$fontcolor: #333333;
$secondaryFontColor: #aab5d5;
$backgroundColor: #f8f7fd;

$darkPriamryColor: #1d1d1d;

//Font Sizes
$smallFont: 0.8rem;
$mediumFont: 1.5rem;
$largeFont: 2.5rem;
